.classTable {
  table-layout: auto;
  text-align: left;
  width: 100%;
  border-spacing: 8px;
  font-size: 20px;
  font-weight: 500;
  border-collapse: separate;

  --row-light-color: #e5e5e5;
  --row-dark-color: #c7c7c7;
}

.classCell:first-child {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.classCell:last-child {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.classRow:nth-child(even) td {
  background-color: var(--row-light-color);
}

.classRow:nth-child(odd) td {
  background-color: var(--row-dark-color);
}

.classCell:nth-child(2) {
  width: 300px;
}

.cell {
  min-height: 40px;
  padding-block: 4px;
  padding-inline: 12px;
}

.classRow {
  transition: transform 0.2s;
}

.classRow:hover {
  transform: scale(101%);
  cursor: pointer;
}

.className {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  gap: 8px;
}

.classInfo {
  display: grid;
  gap: 4px;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.classInfoShown {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
}

.viewClassLink {
  text-decoration: underline;
  font-weight: bolder;
}

.expandArrow {
  transition: transform 0.3s ease-in-out;
}

.rotatedArrow {
  transform: rotate(90deg);
}

@media (max-width: 800px) {
  .classCell:first-child {
      font-size: 12px;
  }

  .classCell:last-child {
      width: 120px;
  }

  .classInfo {
      display: block;
  }
}