.basepage {
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0px;
  gap: 10px;
  padding: 10px;
  flex-flow: column;
  align-items: center;
  font-family: var(--font-geist-sans);
}

.navbar {
  flex: 0 0 50px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
  padding-block: 4px;
  border-radius: 20px;
  background-color: var(--foreground);
  padding-inline: 20px;
}

.navbargroup {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  gap: 30px;
  padding-inline: 10px;
}

.navbargroup {
  color: var(--text);
  font-size: 20px;
}

.navbar a {
  transition: all 0.5s;
}

.navbar a:hover {
  transform: scale(110%);
  text-decoration: underline 2px;
  transition: all 0.2s;
}

.logo,
.logo img {
  height: 40px;
  width: auto;
}

.userinfo {
  display: flex;
  flex-flow: row;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: var(--foreground);
  color: var(--text);
  border-radius: 20px;
  padding: 10px;
}

.footer {
  flex: 0 1 50px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  background-color: var(--background);
}

@media (max-width: 950px) {
  .basepage {
    display: flex;
    gap: 5px;
    padding: 0px;
  }

  .navbar {
    height: fit-content;
    flex-flow: column;
    gap: 20px;
    padding-block: 10px;
    border-radius: 0px 0px 20px 20px;
  }

  .navbargroup {
    flex-flow: column;
    height: fit-content;
  }

  .content {
    height: fit-content;
  }

  .footer {
    flex-flow: column;
    height: fit-content;
    padding-block: 10px;
  }
}