:root {
  --foreground: #ffffff;
  --background: #090909;
  --text: #232323;
  --input: #909090;
  --input-text: #101010;
  --input-text-placeholder: #7f7f7f;
  --table-light: #e5e5e5;
  --table-dark: #c7c7c7;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-geist-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-inline: 5px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}