.gradetable {
    table-layout: auto;
    text-align: left;
    width: 100%;
    border-spacing: 8px;
    font-size: 20px;
    font-weight: 500;
    border-collapse: separate;
}

.gradetable thead tr th,
.gradetable tbody tr td {
    vertical-align: top;
    padding-block: 4px;
    padding-inline: 12px;
}

.gradetable tbody tr td:first-child {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.gradetable tbody tr td:last-child {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.gradetable tbody tr:nth-child(even) td {
    background-color: var(--table-dark);
}

.gradetable tbody tr:nth-child(odd) td {
    background-color: var(--table-light);
}

.gradetable tbody tr td:nth-child(2) {
    width: 300px;
}

.classrow {
    transition: all 0.2s;
}

.classrow:hover {
    transform: scale(101%);
    cursor: pointer;
}

.classcolumn {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.classname {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 12px;
}

.classinfo {
    visibility: hidden;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.shown {
    visibility: visible;
    position: relative;
}

.arrow {
    transition: transform 0.2s ease;
}

.rotated {
    transform: rotate(90deg);
}

@media (max-width: 800px) {
    .gradetable tbody tr td:nth-child(1) {
        font-size: 12px;
    }

    .gradetable tbody tr td:nth-child(2) {
        width: 120px;
    }

    .classinfo {
        display: block;
    }
}