.gradetable {
    table-layout: auto;
    text-align: left;
    width: 100%;
    border-spacing: 8px;
    font-size: 20px;
    font-weight: 500;
    border-collapse: separate;
}

.gradetable thead tr th,
.gradetable tbody tr td {
    min-height: 40px;
    padding-block: 4px;
    padding-inline: 12px;
}

.gradetable tbody tr td:first-child {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.gradetable tbody tr td:last-child {
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.gradetable tbody tr:nth-child(even) td {
    background-color: var(--table-dark);
}

.gradetable tbody tr:nth-child(odd) td {
    background-color: var(--table-light);
}

.gradetable tbody tr td:nth-child(2) {
    width: 300px;
}

.classrow {
    transition: all 0.2s;
}

.classrow:hover {
    transform: scale(101%);
    cursor: pointer;
}

.classcolumn {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-flow: column;
    gap: 12px;
}

.classname {
    display: flex;
    flex-flow: row;
    gap: 12px;
}

.classinfo {
    display: none;
    grid-template-columns: 1fr 1fr;
    animation: resize 0.5s ease reverse;
}

.shown {
    display: grid;
    overflow: hidden;
    animation: resize 0.5s ease;
}

@keyframes resize
{
  0%
  {
    height: 0;
  }
  100%
  {
    height: 52px;
  }
}

.arrow {
    margin-block: auto;
    transition: transform 0.5s ease;
}

.rotated {
    transform: rotate(90deg);
}

@media (max-width: 800px) {
    .gradetable tbody tr td:nth-child(1) {
        font-size: 12px;
    }

    .gradetable tbody tr td:nth-child(2) {
        width: 120px;
    }

    .shown {
        display: block;
    }

    @keyframes resize
    {
      0%
      {
        height: 0;
      }
      100%
      {
        height: 64px;
      }
    }
}