.dynamicTable {
  width: 100%;
  height: fit-content;
  --header-color: #c7c7c7;
  --row-light-color: #e0e0e0;
  --row-dark-color: #d7d7d7;
  --button-color: #c0c0c0;
}

.dynamicTable caption {
  text-align: left;
  padding-left: 8px;
  font-size: 28px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .dynamicTable caption {
    font-size: 20px;
  }
}

.dynamicTable th,
.dynamicTable td {
  padding: 6px;
  background-color: var(--row-light-color);
}

.dynamicTable th {
  text-align: left;
  background-color: var(--header-color);
}

.dynamicTable tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.dynamicTable tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.dynamicTable tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.dynamicTable tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.dynamicTable a {
  text-decoration: underline;
  font-weight: bold;
}

th.actionsColumn,
td.actionsColumn {
  width: 80px;
  text-align: center;
}

.dynamicTable button {
  background-color: var(--button-color);
  border: none;
  padding-inline: 6px;
  padding-block: 2px;
  border-radius: 8px;
  color: var(--text);
}

@media (max-width: 800px) {
  .dynamicTable button {
    padding-inline: 8px;
    padding-block: 4px;
  }
}

.alternatingRow td {
  background-color: var(--row-dark-color);
}

.expandedContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
  .expandedRow {
    height: fit-content;
  }

  .expandedContent {
    display: block;
    flex-flow: column;
    height: fit-content;
  }
}

.placeholderDiv,
.errorDiv {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.placeholderDiv>p,
.errorDiv>p {
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

.errorDiv>p {
  color: #ff4040;
}

.placeholderDiv>div,
.errorDiv>div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.placeholderDiv>div {
  background-color: #d7d7d7;
}

.errorDiv>div {
  background-color: #ff4040;
  padding: 10px;
}